.container{
}

.friendrequests{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 0px 10px;
}

.person{
  cursor: pointer;
}

.requestscontainer{
  position: absolute;
  top: 25px;
  right: 10px;
  width: 60%;
  max-height: 100px;
  min-height: 50px;
  overflow: auto;
  background-color: teal;
  padding: 5px;
  z-index: 1;
  border-radius: 5px;
  border: 2px solid whitesmoke;
}

.friends{
  display: flex;
}

.friendsnames{
  width: 200px;
  max-width: 200px;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.friendsname{
  /* background-color: rgb(175, 138, 16); */
  border: 1px solid rgb(179, 179, 179);
  padding: 10px;
  font-family: "Fira Code";
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}