.tabs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: rgb(219, 219, 219);
  font-family: "Fira Code";
}

.searchtab, .chattab, .profiletab{
  cursor: pointer;
  font-size: 14px;
  background-color: #008080;
  padding: 4px 14px;
  border-radius: 99999px;
}

.chatId{
  font-family: "Fira Code";
  font-size: 20px;
  color: orange;
  text-align: center;
  padding: 10px 0px;
}